#Sensitive info
uploads
sslforfree
/app/controllers/

#Cache
tmp

#Database
verdad.sql

# Fat-Free Framework
app/lib

*.jpg
*.png
*.jpeg
*.gif
app/controllers/UserController.php
app/controllers/AdminController.php
